<html>
<head>
  <title>BL;BR</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link href="/stylesheets/bootstrap.css" rel="stylesheet">
  <script src="/js/lib/jquery-1.7.js"></script>
  <script src="/js/lib/batman.js"></script>
  <script src="/js/lib/batman.jquery.js"></script>
  <script src="/js/app/blbr.js"></script>
  <script src="/js/app/dashboard.js"></script>
  <style>
#topbar-padding {
  position: relative;
  height: 50px; // Should be aligned to the topbar.
}

.card-edit {
  display: none;  
}

.card-view {
  display: block;
}

.editing .card-edit {
  display: block; 
}

.editing .card-view {
  display: none; 
}

   </style>
</head>
<body>
  <div id="container">
    <div class="topbar" data-dropdown="dropdown">
      <div class="topbar-inner">
        <div class="container">
          <h3><a href="#">Blank Bracket</a></h3>
        </div>
      </div><!-- /topbar-inner -->
    </div>
    <div class="container">
      <header id="topbar-padding"></header>

      <input class="level-round" data-bind="Level.mime.round"></input>

      <form data-formfor-card="controllers.cards.emptyCard" data-event-submit="controllers.cards.create">
        <input class="new-item" placeholder="Add a original text here" data-bind="card.face" />
        <input class="new-item" placeholder="対訳をかく" data-bind="card.back" />
        <input type="submit" />
      </form>
      <div id="items">
        <div data-foreach-card="Card.all" data-event-click="card.edit" class="card-item"
             data-addclass-editing="card.editing">
           <div class="card-view">
             <div class="card-face" data-bind="card.face"></div>
             <div class="card-back" data-bind="card.back"></div>
           </div>
           <div class="card-edit" data-context="card" >
             <input class="card-edit-face" data-bind="card.face">
             <input class="card-edit-back" data-bind="card.back">
             <input type="button" data-event-click="card.save" value="Save">
             <input type="button" data-event-click="card.cancel" value="Cancel">
             <input type="button" data-event-click="card.destroy" data-confirm="Delete the card?" value="Delete">
           </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
