<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link href="/stylesheets/bootstrap.css" rel="stylesheet">
  <script src="/js/lib/jquery-1.7.js"></script>
  <script src="/js/lib/batman.js"></script>
  <script src="/js/lib/batman.jquery.js"></script>
  <script src="/js/app/blbr.js"></script>
  <script src="/js/app/dashboard.js"></script>
  <style>
#topbar-padding {
  position: relative;
  height: 50px; // Should be aligned to the topbar.
}

   </style>
</head>
<body>
  <div id="container">
    <div class="topbar" data-dropdown="dropdown">
      <div class="topbar-inner">
        <div class="container">
          <h3><a href="#">Blank Bracket</a></h3>
        </div>
      </div><!-- /topbar-inner -->
    </div>
    <div class="container">
      <header id="topbar-padding"></header>
      <form data-formfor-card="controllers.cards.emptyCard" data-event-submit="controllers.cards.create">
        <input class="new-item" placeholder="Add a original text here" data-bind="card.face" />
        <input class="new-item" placeholder="対訳をかく" data-bind="card.back" />
        <input type="submit" />
      </form>
      <div id="items">
        <div data-foreach-card="Card.all">
           <div data-bind="card.face"></div>
           <div data-bind="card.back"></div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
